

/*---------------start   style page maintenance   -------------- */
.section_message_maintenance{
    background-size: contain;
    background-repeat: no-repeat;
}
.section_message_maintenance .img_maintenance{
    width: 213px!important;

}
/*---------------start   style page maintenance   -------------- */